html, body{
    height: 100%;
    width: auto;
    padding: none;
    margin: none;
    background: #40bff5;
    background: linear-gradient(152deg,rgba(64, 191, 245, 1) 3%, rgba(20, 199, 0, 1) 100%);
}